{%extends "index.html" %}
{% block content %}
<style type="text/css">
  img{
    width: '100%';
    height: 100px;
  }
  p{
    font-size: 30px;
  }
  .container3{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .fa-arrow-up{
    color: green;
  }
  .fa-arrow-down{
    color: #3468bc;
  }
  
  span{
    font-size: 12px;
  }
  #preferencias td{
    text-align: center;
    font-size: 20px;
  }
  #formulario p{
    font-size: 12px;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #2d5f8d;
    border-radius: 10px;
  }
  select{
    border-radius: 5px;
  }
  
  
  #gerar_multiclass {
    width: '100%';
    border-color: white;
    margin:auto;
    display:block;
    border-radius: 7px;
  }
  .title {
    text-align: center;
  }
  .weathers{
    font-size: 16px;
    text-align: justify;
  }
  tr th {
    text-align: center;
  }
</style>
<div class="container3">
  <div class="row">
    <div class="col-md-12">
      
      <table class="table" border="0">
        <thead>
          <tr>
              <th>Dia {{ tempo['day'][0] }}/{{ tempo['month'][0] }}/{{ tempo['year'][0] }}<br>
                  <span>{{ dias_da_semana[0] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>

              <th>Dia {{ tempo['day'][1] }}/{{ tempo['month'][1] }}/{{ tempo['year'][1] }}<br>
                  <span>{{ dias_da_semana[1] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][2] }}/{{ tempo['month'][2] }}/{{ tempo['year'][2] }}<br>
                  <span>{{ dias_da_semana[2] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][3] }}/{{ tempo['month'][3] }}/{{ tempo['year'][3] }}<br>
                  <span>{{ dias_da_semana[3] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][4] }}/{{ tempo['month'][4] }}/{{ tempo['year'][4] }}<br>
                  <span>{{ dias_da_semana[4] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>

              <th>Dia {{ tempo['day'][5] }}/{{ tempo['month'][5] }}/{{ tempo['year'][5] }}<br>
                  <span>{{ dias_da_semana[5] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][6] }}/{{ tempo['month'][6] }}/{{ tempo['year'][6] }}<br>
                  <span>{{ dias_da_semana[6] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>

              </th>
              
              <th>Dia {{ tempo['day'][7] }}/{{ tempo['month'][7] }}/{{ tempo['year'][7] }}<br>
                  <span>{{ dias_da_semana[7] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][8] }}/{{ tempo['month'][8] }}/{{ tempo['year'][8] }}<br>
                  <span>{{ dias_da_semana[8] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
              
              <th>Dia {{ tempo['day'][9] }}/{{ tempo['month'][9] }}/{{ tempo['year'][9] }}<br>
                  <span>{{ dias_da_semana[9] | replace("0","Segunda-Feira")
                    | replace("0","Segunda-Feira")
                    | replace("1","Terça-Feira")
                    | replace("2","Quarta-Feira")
                    | replace("3","Quinta-Feira")
                    | replace("4","Sexta-Feira")
                    | replace("5","Sábado")
                    | replace("6","Domingo")
                  }}</span>
              </th>
            </tr>
        </thead>
        <tbody>
          <tr>
            {% for a,b,c,d,e,f in comp  %}
              <td style="text-align: center;">
                <img src="{{ url_for('.static', filename='img/weather/')}}{{ f }}.png"><br>
                
                <span class="weathers">

                  {{ f   | replace("Partly Cloudy", "Parcialmente Nublado") 
                             | replace("Mostly Sunny", "Grande parte ensolarado") 
                             | replace("Mostly Cloudy","Grande parte nublado") 
                             | replace("Scattered Thunderstorms","Probabilidade de Temporal") 
                             | replace("Scattered Showers","Probabilidade de Chuvisco") 
                             | replace("Showers","Chuvisco")
                             | replace("Cloudy", "Nublado")
                             | replace("Rain", "Chuva")
                             | replace("Sunny", "Ensolarado")
                             | replace("Thunderstorms", "Temporal")
                  }}

                </span>

              </td>
              {% endfor %}
          </tr>
          <tr>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-6">
                    <p>{{ tempo['maxima'][0] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][1] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][2] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][3] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][4] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][5] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][6] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][7] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][8] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-up fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['maxima'][9] }}ºC</p>
                    <h5>Maxima</h5>    
                  </div>  
                </div>
              </td>
              </td>
          </tr>
            <tr>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][0] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][1] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][2] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][3] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][4] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][5] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][6] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][7] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][8] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <i class="fa fa-arrow-down fa-2x"></i>    
                  </div>
                  <div class="col-md-8">
                    <p>{{ tempo['minima'][9] }}ºC</p>
                    <h5>Minima</h5>    
                  </div>  
                </div>
              </td>
          </tr>
        </tbody>
    </table>

    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <h1 class="title">Multiclass</h1>
      <form action="/multiclass" method="POST" id="formulario">
              <div class="row">
                <div class="col-md-4">
                  Preço:
                  <input class="form-control" type = "text" name = "preco" placeholder="1 a 100"/ required="">
                </div>
                <div class="col-md-4">
                  Quantidade
                  <input class="form-control" type="text" name = "quantidade" placeholder="1 a 10" required="">
                </div>
                <div class="col-md-4">
                  Receita
                  <input class="form-control" type="text" name = "receita" placeholder="1 a 500" required="">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  Promoção
                  <select class="form-control" style="border: 1px solid #2d5f8d;" name="promotion">
                     <option value="0">Não</option>
                     <option value="1" selected="">Sim</option>
                  </select>
                </div>
                <div class="col-md-6">
                  Clima
                  <select class="form-control" style="border: 1px solid #2d5f8d;" name="clima">
                     <option value="1">Cold</option>
                     <option value="2">Dry</option>
                     <option value="3">Hot</option>
                     <option value="4">Rainy</option>
                  </select>
                </div>
              </div>

              <br>
              <input id="gerar_multiclass" class="btn btn-success" type="submit" value="Processar">
      </form>
    </div>
  </div>
</div>

{% endblock %}