<a href="{{ url_for('analytcs') }}" class="btn btn-info">Voltar</a>
<a href="{{ url_for('bycountry')}}" class="btn btn-default">Por País</a>
<a href="{{ url_for('bycategory')}}" class="btn btn-default">Por Categoria</a>
<a href="{{ url_for('byacceptdiscount')}}" class="btn btn-default">Por Accept Discount</a>
<a href="{{ url_for('bydayofweek')}}" class="btn btn-default">Por Dias da Semana</a>
<a href="{{ url_for('bydisplay')}}" class="btn btn-default">Por Display</a>
<a href="{{ url_for('bytypeofpromotion')}}" class="btn btn-default">Por Type Of Promotion</a>
<a href="{{ url_for('kindofsales')}}" class="btn btn-default">Kind Of Sales</a>